[tools]
opentofu = '1.9.1'
packer = "1.12.0"
dasel = "2.8.1"
pipx = "1.8.0"
ansible = "13.0.0"

[env]
_.path = ["./bin"]

# Shared configuration
PROXMOX_DEBIAN_TEMPLATE = "pckr-tmpl-debian-12"

# Packer environment variables
PKR_VAR_template_name = "{{ env.PROXMOX_DEBIAN_TEMPLATE }}"
PKR_VAR_template_vmid = "9000"
PKR_VAR_proxmox_api_token_id = "{{ env.PROXMOX_PKR_API_TOKEN_SECRET }}"
PKR_VAR_proxmox_api_token_secret = "{{ env.PROXMOX_PKR_API_TOKEN_ID }}"
PKR_VAR_proxmox_host = "{{ env.PROXMOX_HOST }}"
PKR_VAR_proxmox_node = "{{ env.PROXMOX_NODE }}"

# OpenTofu / Terraform environment variables
TF_INPUT = 0
TF_LOG = "ERROR"

TF_VAR_template_name = "{{ env.PROXMOX_DEBIAN_TEMPLATE }}"
TF_VAR_proxmox_api_token_id = "{{ env.PROXMOX_TF_API_TOKEN_ID }}"
TF_VAR_proxmox_api_token_secret = "{{ env.PROXMOX_TF_API_TOKEN_SECRET }}"
TF_VAR_proxmox_host = "{{ env.PROXMOX_HOST }}"

[hooks]
enter = "mise run project:build:bin"
postinstall = "mise run project:dependencies"

[tasks."project:build:bin"]
hide = true
silent = true
description = "Builds the bin directory, containing symlinks to the tools"
run = """
  # This is a workaround to ensure to ensure tools that are looking for `terraform` in the PATH
  # actually find the OpenTofu binary. Fingers crossed the API will not change in the future.
  ln -sf $(mise which tofu) ./bin/terraform
"""

[tasks."project:dependencies"]
hide = true
silent = true
description = "Installs project dependencies not managed by Mise"
depends = [
  "ansible:install",
  "tofu:init"
]

[tasks."fnox:age:generate-key"]
description = "Generates a new Age key pair"
run = """
age-keygen -o 
if [ ! -f ~/.config/fnox/age.txt ]; then
  age-keygen -o ~/.config/fnox/age.txt
else
  echo "Age key pair already exists"
fi
"""

[tasks."fnox:age:show-public-key"]
description = "Shows the public Age key"
run = "age-keygen -y ~/.config/fnox/age.txt"

[tasks."fnox:age:add-public-key"]
description = "Adds the public Age key to the fnox recipients"
run = """
#!/usr/bin/env bash
set -euo pipefail

if [ $# -ne 1 ]; then
  echo "Usage: mise run fnox:age:add-public-key <public-key>"
  exit 1
fi

if [ $(grep -c "$1" fnox.toml) -ne 0 ]; then
  echo "Public key already exists in fnox.toml"
  exit 0
fi

dasel put -t string -f fnox.toml -v "$1" 'providers.age.recipients.[]'
"""


[tasks."packer:build:debian12"]
description = "Build a Debian image with Packer"
run = "packer build packer-templates/debian12"

# TODO: Ideally -chdir would be set once for all OpenTofu tasks. However, TF_CLI_ARGS can only be used for subcommands
[tasks."tofu:init"]
description = "Initializes a OpenTofu working directory"
run = "tofu -chdir=infra init"

[tasks."tofu:plan"]
description = "Generates an execution plan for OpenTofu"
run = "tofu -chdir=infra plan -out tfplan"

[tasks."tofu:apply"]
description = "Applies the changes required to reach the desired state of the configuration"
run = "tofu -chdir=infra apply tfplan"

[tasks."tofu:refresh"]
description = "Updates the state file with the real infrastructure"
run = "tofu -chdir=infra refresh"

[tasks."tofu:destroy"]
description = "Destroy OpenTofu-managed infrastructure"
run = "tofu -chdir=infra destroy"

[tasks."tofu:validate"]
description = "Validates the OpenTofu files"
run = "tofu -chdir=infra validate"

[tasks."tofu:format"]
description = "Formats the OpenTofu files"
run = "tofu -chdir=infra fmt"

[tasks."tofu:check"]
description = "Checks the OpenTofu files"
depends = ["tofu:format", "tofu:validate"]

[tasks."ansible:install"]
description = "Installs Ansible roles and collections"
run = "ansible-galaxy install -r playbooks/requirements.yaml"

[tasks."ansible:inventory"]
description = "Lists thee Ansible inventory"
run = "ansible-inventory -i playbooks/inventory --list"