---
- block: 
    - name: "{{ stack_name }} | {{ service_name }} | ensure secrets directory exists"
      ansible.builtin.file:
        path: "{{ (stack_vm_dir + '/secrets/' + service_name) | dirname }}"
        state: directory
        mode: '0700'
        owner: root
        group: docker

    - fail: 
        msg: "{{ item_secret }} does not exist"
      when: lookup('env', item | upper) is not defined
      loop: "{{ service_config.secrets }}"
      loop_control:
        loop_var: item_secret

    - name: "{{ stack_name }} | {{ service_name }} | create secret file(s)"
      ansible.builtin.lineinfile:
        path: "{{ (stack_vm_dir ~ '/' ~ secrets[item_secret].file )| realpath }}.test" 
        line: "{{ lookup('env', (service_name ~ '_' ~ item_secret) | upper) }}"
        create: true
      loop: "{{ service_config.secrets }}"
      loop_control:
        loop_var: item_secret
  when: 
    - service_config.secrets is defined
    - service_config.secrets | length > 0
  
