--- 
- name: Create external Docker networks
  community.docker.docker_network:
    name: "{{ item.name }}"
    driver: "{{ item.driver | default('bridge') }}"
    driver_options: "{{ item.driver_options | default({}) }}"
    state: present
  with_items: "{{ docker_networks_external }}"

- name: Fixing Grafana data directory permissions 
  ansible.builtin.file: 
    path: "{{ stack_root }}/monitoring/data/grafana"
    owner: 1000
    state: directory
    mode: '0755'
    recurse: true
  when: ('monitoring' in docker_stacks)

- name: Deploy stack(s)
  ansible.builtin.include_tasks: deploy_stack.yaml
  vars: 
    stack_dir: "{{ playbook_dir | dirname }}/stacks/{{ stack_name }}"
    stack_vm_dir: "{{ stack_root }}/{{ stack_name }}"
  loop: "{{ docker_stacks }}"
  loop_control:
    loop_var: stack_name