---
- name: reload coredns
  systemd:
    name: coredns
    state: reloaded
  when: ansible_facts.services['coredns.service'] is defined and ansible_facts.services['coredns.service'].state == 'running'

- name: restart coredns
  systemd:
    name: coredns
    daemon_reload: yes
    state: restarted
  when: ansible_facts.services['coredns.service'] is defined